@import url('https://fonts.googleapis.com/css?family=Righteous');

:root {
  --color-blue: #002855;
  --color-yellow: #f2a900;
  --color-red: #eb3300;
  --color-white: #fff;
  --max-width-pc: 1400px;
  --righteous: 'Righteous', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

br {
  margin: 0;
  padding: 0;
}

/* Header styles */

nav li {
  list-style: none;
}

nav a {
  color: var(--color-blue);
  text-decoration: none;
  transition: color 0.3s ease;
}

.hamburger-menu {
  display: none;
}

/* Logo styles */

.logo img {
  width: 300px;
  margin: auto 0 10px;
}

/* Navigation menu styles */

.menu-container {
  display: flex;
  align-items: flex-end;
  max-width: var(--max-width-pc);
  justify-content: space-between;
  padding: 0 10px;
  margin: auto;
}

.wide-menu nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.primary-nav {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 50px 0 20px;
}

.primary-nav li {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 800;
}

.primary-nav a:hover {
  color: var(--color-red);
}

.secondary-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.secondary-nav img {
  width: 20px;
}

.secondary-nav a {
  color: var(--color-yellow);
  font-weight: 700;
  transition: color 0.3s ease;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.secondary-nav a:hover {
  color: var(--color-blue);
}

.secondary-nav li {
  padding: 30px 20px 0;
}

.secondary-nav li:first-child {
  border-right: var(--color-yellow) 2px solid;
}

.dropdown-menu {
  opacity: 0;
  background-color: var(--color-white);
  padding: 10px;
  width: 300px;
  z-index: 50;
  position: absolute;
  transform: translatex(-50px);
  margin-top: 30px;
  transition-delay: 0.3s;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  opacity: 1;
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-menu a {
  color: var(--color-blue);
  text-decoration: none;
  transition: color 0.3s ease;
}

.dropdown-menu a:hover {
  color: var(--color-red);
}

/* Search box styles */
.search-box {
  opacity: 0;
  transform: translateY(-100vw);
  transition: opacity 0.3s ease, transform 0.3s ease;
  /* transform: translateY(12px); */
  position: absolute;
  top: 90px;
  background-color: var(--color-white);
  padding: 20px;
  margin-top: 3px;
  width: 100%;
  z-index: 4;
}

.search-box.open {
  opacity: 1;
  transform: translateY(64px);
}

.search-box .input-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--max-width-pc);
}

.search-box input {
  padding: 10px;
  border: none;
  border-radius: 3px;
  outline: none;
  width: 100%;
  font-size: large;
}

.search-box button {
  background-color: var(--color-white);
  color: var(--color-blue);
  border: none;
  padding: 5px 0;
  border-radius: 3px;
  cursor: pointer;
}

.search-box button img {
  width: 23px;
}

/* Carousel */
.carousel {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 300ms ease-in;
}

.carousel-section {
  overflow: hidden;
}

.carousel__slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 92%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 20px 0 0;
}

.carousel__slide__container {
  height: 60%;
  display: flex;
  max-width: var(--max-width-pc);
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  margin: auto auto 0px;
  padding: 0 10px;
  z-index: 10;
}

.carousel__slide__crescent {
  height: 430px;
  background-image: url('../images/slider-overlay.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.carousel__slide__bottom-stripe {
  width: 100%;
  height: 330px;
  background-color: var(--color-yellow);
}

.carousel__slide__circle-overlay {
  position: absolute;
  bottom: 200px;
  left: 700px;
  width: 80%;
  height: 80%;
  background-image: url('../images/slider-overlay-circle.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 44;
}

.carousel__slide__crescent-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 700px;
}

.carousel__slide__container h1 {
  color: var(--color-white);
  font-size: 110px;
  font-family: var(--righteous);
  line-height: 140px;
}

.carousel__slide__container h2 {
  color: var(--color-blue);
  margin: 80px 0 40px;
}

.carousel__slide__container p {
  font-size: large;
  font-weight: bold;
  color: var(--color-white);
}

.carousel__slide__container__body {
  max-width: 800px;
}

.carousel__slide__container a {
  font-size: large;
  font-weight: bold;
  color: var(--color-red);
  text-decoration: none;
}

.carousel__slide__container__footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 0 0;
}

.carousel__slide__container__footer button {
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  border: none;
}

/* Responsive styles */

@media screen and (max-width: 1024px) {
  .logo img {
    width: 220px;
  }

  .primary-nav li {
    margin-right: 15px;
    font-size: 18px;
    font-weight: 800;
  }

  .search-box.open {
    transform: translateY(65px);
  }

  .carousel__slide {
    height: 84%;
  }

  .carousel__slide__container {
    width: 100%;
    height: 20%;
  }

  .carousel__slide__container h1 {
    font-size: 90px;
    line-height: 90px;
  }

  .carousel__slide__crescent {
    height: 150px;
  }

  .carousel__slide__crescent-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
  }

  .carousel__slide__circle-overlay {
    bottom: 100px;
    width: 70%;
    height: 70%;
  }

  .carousel__slide__bottom-stripe {
    width: 100%;
    height: 250px;
    background-color: var(--color-yellow);
  }
}
@media screen and (max-width: 768px) {
  /* Hide the regular menu */
  .wide-menu {
    display: none;
  }

  /* hamburger menu */
  .hamburger-menu {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 10px;
    z-index: 5;
  }

  .search-box {
    border: 2px aliceblue solid;
    padding: 10px;
  }

  .search-box.open {
    transform: translateY(30px);
  }

  .expanded {
    height: 100vh;
  }

  .hamburger-menu .menu-icon {
    width: 30px;
    height: 30px;
    background-image: url('../images/hamburger-icon.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .hamburger-top {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .hamburger-top .logo {
    margin-right: auto;
  }

  .nav-container {
    display: none;
    margin-top: 150px;
    width: 100%;
  }

  .primary-nav {
    margin: auto;
    flex-direction: column;
  }

  .hamburger-menu .primary-nav > li {
    background-color: aliceblue;
    width: 100%;
    margin: 0 auto;
    border: var(--color-white) 2px solid;
  }

  .hamburger-menu .primary-nav > li:not(.accordion) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  .dropdown-menu {
    margin-top: 2px;
    background-color: var(--color-yellow);
  }
  /* Accordion */
  .accordion {
    position: relative;
  }

  .accordion-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
  }

  .accordion-content {
    display: none;
  }

  .accordion-content li {
    display: flex;
    justify-content: center;
  }

  .accordion-icon img {
    transition: transform 0.3s ease;
  }

  .accordion-icon.active img {
    transform: rotate(180deg);
  }

  .carousel__slide {
    height: 60%;
  }

  .carousel__slide__container {
    width: 100%;
    height: 0%;
  }

  .carousel__slide__container h1 {
    font-size: 11vw;
    line-height: 80px;
  }

  .carousel__slide__crescent {
    height: 120px;
  }

  .carousel__slide__crescent-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
  }

  .carousel__slide__circle-overlay {
    left: 400;
    width: 60%;
  }

  .carousel__slide__bottom-stripe {
    width: 100%;
    height: 330px;
    background-color: var(--color-yellow);
  }
}

@media screen and (max-width: 480px) {
  .carousel__slide {
    height: 506;
  }

  .carousel__slide__crescent-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
  }

  .carousel__slide__circle-overlay {
    left: 300;
    width: 60%;
  }

  .carousel__slide__bottom-stripe {
    width: 100%;
    height: 430px;
    background-color: var(--color-yellow);
  }

  .carousel__slide__container {
    height: 60%;
  }

  .carousel__slide__container__footer {
    margin-top: 50px;
  }

  .carousel__slide__container h1 {
    font-size: 60;
    font-family: var(--righteous);
    line-height: 80px;
  }
}
